.acme-malarkey {
  color: #cb3837;
  text-transform: capitalize;

  &:after {
    animation: cursor-blink .4s linear infinite;
    color: #cb3837;
    content: '|';
  }
}

@keyframes cursor-blink {
  1% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
